/*-----MEDIA QUERIES-----*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .logo{
        transform: scale(0.5);
        margin-left: 0% !important;
        display: none;
    }

    .nav__ul{
        flex-direction: column !important;
        justify-content: flex-start !important;
        align-content: flex-end;
        bottom: 0% !important;
    }

    .banner section > img{
        object-fit:cover !important;
    }
    
    .intro__section{
        display: flex;
        flex-flow: column wrap;
        margin: 0%;
    }

    .intro{
        margin: 0%;
        padding: 0%;
    }
    .intro p{
        font-size: 10px;
      }
      aside img {
          transform: scale(0.8);
      }

}
    
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {

    .intro__section{
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
      }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {

  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {

  }
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {

  }