/*-----MEDIA QUERIES-----*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    /*-----index.html-----*/
    h1{
        font-size: 38px !important;
    }

    .logo{
        transform: scale(0.5);
        margin-left: 0% !important;
        display: none;
    }

    .nav__ul{
        bottom: 0% !important;
        padding: 0%;
    }
    
    .nav__ul li{
        justify-content: center;
        font-size: 10px;
    }

    .nav__ul a > img{
        display: none;
    }

    .nav__ul li ul {
        z-index: 1;
    }

    .banner section > img{
        display: none;
    }
    
    .intro__section{
        flex-flow: column wrap !important;
        justify-content: center;
        align-items: center;
    }

    div{
        width: 100%;
    }
    .intro p{
        font-size: 10px;
    }

    aside img {
        height: 40vh !important;
    }
    /*-----index.html END-----*/

    .album__selection article{
        /* display: inline-flex !important;        
        flex-flow: column nowrap;
        background-color: black;
        margin: 0% !important;    
        justify-items: center;
        align-items: center; */
        grid-template-columns: repeat(1, 1fr) !important;
        grid-auto-rows:auto !important;
    }

    .album__selection--disc img{
        width: 150px !important;
        height: 150px !important;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .intro__section{
      flex-flow: column wrap !important;
      justify-content: center;
      align-items: center;
  }
}
  
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}