/*-----MEDIA QUERIES-----*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .intro__section{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        font-size: 10px;
      }

      .banner section > img{
        object-fit:contain;
      } 

      .intro__section{
        display: flex;
        flex-flow: column wrap;
      }

      .intro{
          margin: 0%;
          padding: 0%;
      }
      .intro p{
          font-size: 10px;
      }
      aside > img{
        margin: 0%;
        transform: scale(0.8);
    } 
}
    
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .logo{
        transform: scale(0.5);
    }
    .intro__section{
        display: flex;
        flex-flow: column wrap;
      }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .logo{
        transform: scale(0.6);
    }
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .logo{
        transform: scale(1);
    }
  }
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {

  }