@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
}

/*-----ETIQUETAS-----*/

body{
   /*background: linear-gradient(120deg, #ffcbf2 0%, #deaaff 35%, #c0fdff 100% );*/
   background: linear-gradient(120deg, #ffcbf2 0%, #deaaff 35%, #c8e7ff 100% );
   font-family: 'Montserrat', 'Nunito', sans-serif, Arial, Helvetica;


}

main{
    display: inline-block;
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    padding: 1%;
    border: black solid;
    
}


ul, ol, a{
    list-style: none;
    text-decoration: none;
}



/*-----CLASS-----*/

/* NAV */
.nav__menu a{
    display: inline-block;

}

.nav__ul a > img{
    height: 32px;
    width: 32px;
    display: inline;
}
.nav__menu ul.nav-ul li a img{
    margin-right: 5px;
}
.nav__ul li{
    display: inline-block;
    margin-right: 5px;
    font-size: 16px;
}

.nav__sublinks li{
    display: inline-block;
    
}
/*------------------------*/



/* ARTIST PROFILE PICS (disr.html)*/

.profile-pics{
    display: flex;
    flex-direction: row;
}
.profile-pics a > img{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    border-style: solid;
    border-color: rgb(190, 138, 249);
}
/*------------------------*/


/*Disruptor logo (disr.html)*/
.disr-logo img{
    height: 100%;
    width: 100%;
}

ol.songs-list li img{
    width: 72px;
    height: 72px;
}

img.alb-cover{
    width: 400px;
    height: 400px;
    border-radius: 8%;
}