@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    font-family: 'Montserrat', 'Nunito', sans-serif, Arial, Helvetica;
    list-style: none;
}

body{
   /*background: linear-gradient(120deg, #ffcbf2 0%, #deaaff 35%, #c0fdff 100% );*/
   background: linear-gradient(120deg, #ffcbf2 0%, #deaaff 35%, #c8e7ff 100% );
}

main{
    display: inline-block;
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border: black solid;
}


/* NAV */
.nav-ul a > img{
    height: 32px;
    width: 32px;
}
nav.nav-menu ul.nav-ul li a img{
    margin-right: 5px;
}
/*------------------------*/



/* ARTIST PROFILE PICS (disr.html)*/

.profile-pics{
    display: flex;
    flex-direction: row;
}
.profile-pics a > img{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    border-style: solid;
    border-color: rgb(190, 138, 249);
}
/*------------------------*/


/*Disruptor logo (disr.html)*/
.disr-logo img{
    height: 50%;
    width: 100%;
}

ol.songs-list li img{
    width: 72px;
    height: 72px;
}

img.alb-cover{
    width: 400px;
    height: 400px;
    border-radius: 8%;
}