/*-----FUENTE EXTERNA HELVETICA NEUE LT PRO-----*/
@font-face {
    font-family: helveticaNeueLTPro;
    src: url(../fonts/helveticaNeueLtPro/HelveticaNeueLTProRoman.otf);
}

/*-----ETIQUETAS-----*/
body{
   /*background: linear-gradient(120deg, #ffcbf2 0%, #deaaff 35%, #c0fdff 100% );*/
    background: linear-gradient(140deg, #f1a6df 0%, #d494fc 35%, #afd9fa 100% );
    /*font-family: 'Montserrat', 'Nunito', sans-serif, Arial, Helvetica;*/
    font-family:helveticaNeueLTPro;
    color: black;
    line-height: 1.75rem;
}

nav{
    display: block;
}

p{
    text-indent: 0.5rem;
}

main{
    margin-left: 15%;
    margin-right: 15%;
}

ul, ol, a{
    list-style: none;
    text-decoration: none;
    color: black;
}

h1, h2{
    text-transform: uppercase;
    text-align: center;
}

h1{
    font-size: 2.625rem;
    margin-bottom: 3.75rem;
}

h2{
    font-size: 1.5rem;
}



/*-----CLASS-----*/

/*-----(index.html)-----*/

.logo{
    width: 9.75rem;
    height: 9.75rem;
    z-index: 2;
    display:inline-block;
    position: relative;
    border-radius: 5%;
    margin-left: 3.125rem;
    top: 2.5rem;
}

.nav__ul{
    position: relative;
    background-color: rgba(255, 255, 255, 0.349);
    text-align: right;
    padding: 1.25rem;
    bottom: 7.5rem;
    font-size: 1.125rem;
}

.nav__ul > li {
    display: inline-block;
    position: relative;
    padding:0.9375rem;
}
.nav__ul li:hover{
    background-color: rgba(255, 255, 255, 0.767);
    transition: all 200ms;
    border-radius: 0.4675rem;
}

.nav__ul a > img{
    height: 2.25rem;
    width: 2.25rem;
    position: relative;
    top: 0.6875rem;
}

.nav__ul li > ul{
    display: none;
    position: absolute;
    text-align: center;
    font-size: 14px;
    padding:8px;
    margin-top: 0.875rem;
    right: 0rem;

}

.nav__ul li:hover > ul{
    display:block;
    background: linear-gradient(120deg, #ffcbf26c 0%, #deaaff6e 35%, #c8e7ff7a 100%);
    background-color: rgba(255, 255, 255, 0.767);
}

.nav__ul li ul li{
    padding-bottom: 0.5rem;
}

.nav__ul li ul li:hover{
    background-color: white;
    transform: scale(1.3);
    width: 100%;
}

.nav__ul li ul li:not(:hover){
    transition: 100ms;
}

.banner section > img{
    border: solid;
}

.intro__section{
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
}
aside{
    margin-right: 20%;
    margin-left: 20%;

}

aside img{
    width: 25.125rem;
    height: 25.125rem;
    margin-right: 20%;
    margin-left: 20%;
    border: solid;
}

/*------------------------*/



/*-----WELCOME BANNER-----*/


/*-----(disr.html)-----*/

.profile-pics{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.profile-pics a > img{
    display: inline-block;
    border-radius: 50%;
    height:9.375rem;
    width: 9.375rem;
    border-style: solid;
    border-color: rgba(190, 138, 249, 0.425);
    -webkit-filter:grayscale(85%);

}

.profile-pics li a > img:hover{
    transition: all 300ms;
    transform: scale(1.2);
    -webkit-filter:opacity(100%);

}

.profile-pics li a > img:not(:hover){
    transition: all 300ms;
}
/*------------------------*/


/*-----(disr.html)-----*/
.disr-logo img{
    height: 100%;
    width: 100%;
}

ol.songs-list li img{
    width: 4.5rem;
    height: 4.5rem;
}

img.alb-cover{
    width: 25rem;
    height: 25rem;
    border-radius: 8%;
    margin-right: 50%;

}
